#para {
  color: blue;
}
#dyta {
  color: red;
  font-family: serif;
}
div {
  border: 1px solid black;
}
#ahha {
  color: orange;
}
.Klasa {
  border: 2px solid #3654ba;
  background-color: red;
  border-radius: 5px;
}
#lol {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  align-self: center;
}
